* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2efef;
  /* background-color: transparent; */
}

.header__container {
  background-color: #fff;
  padding: 12px 28px;
  display: flex;
}
.header1 {
  display: flex;
  gap: 2rem;
}
.header__sub2 {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #f0f5ff;
  border-radius: 0.5rem;
}
.btn {
  padding-left: 1rem;
}
.search__btn {
  width: 2rem;
  opacity: 0.5;
}
.search__input {
  border: none;
  padding-left: 1rem;
  width: 400px;
  height: 2rem;
  background: transparent;
  /* border: 1px solid red; */
}
.header2 {
  display: flex;
  align-items: center;
}
.navtab {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  gap: 0.5rem;
}

.navbar {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  flex: 1;
  padding: 10px 20px;
}

.nav-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.nav-item span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #212121dc;
}

.nav-item .dropdown-arrow {
  font-size: 10px;
  margin-left: 5px;
}
