* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2efef;
}

.header__container {
  background-color: #fff;
  padding: 12px 28px;
  display: flex;
}
.header1 {
  display: flex;
  gap: 2rem;
}
.header__sub2 {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #f0f5ff;
  border-radius: 0.5rem;
}
.btn {
  padding-left: 1rem;
}
.search__btn {
  width: 2rem;
  opacity: 0.5;
}
.search__input {
  border: none;
  padding-left: 1rem;
  width: 400px;
  height: 2rem;
  background: transparent;
}
.header2 {
  display: flex;
  align-items: center;
}
.navtab {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  gap: 0.5rem;
}

.navbar {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  flex: 1;
  padding: 10px 20px;
}

.nav-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.nav-item span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #212121dc;
}

.nav-item .dropdown-arrow {
  font-size: 10px;
  margin-left: 5px;
}
.carousel {
  position: relative;
  margin: 1rem;
  max-width: 100%;
  overflow: hidden;
}
.inner-carousel {
  display: flex;
  width: 100%;
}
.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}
.carousel-item img {
  width: 100%;
  height: 13rem;
  object-fit: contain;
  display: block;
  background-color: #f0f0f0;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls .prev,
.carousel-controls .next {
  cursor: pointer;
  padding: 10px;
  background: #fff;
  color: rgba(87, 76, 76, 0.5);
  border: none;
  font-size: 24px;
}
.carousel-controls .prev {
  border-radius: 0 10% 10% 0;
}
.carousel-controls .next {
  border-radius: 10% 0 0 10%;
}
